:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(0, 0%, 98%);
  --color-dark-gray: hsl(0, 0%, 52%);
  --color-dark-blue: hsl(209, 23%, 22%);
}

body {
  padding: 0;
  margin: 0;
}

main {
  padding: 0 50px;
}